@import url('https://fonts.googleapis.com/css?family=Pinyon+Script&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css?family=PT+Serif&display=swap');

.background{

   background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
  
}

.intro {
  width: 80%;
  margin: 0 auto;
 font-size: 1.3vmax;
}
.coffee{
    color: white; 
    float: right;
  
}
.justCoffee{
    margin-top: 100px;
    font-size: 3em;
    font-family: 'Pinyon Script', cursive;
}
.life{
    font-size: 4em;
    font-family: 'PT Serif', serif;
}

  button {
    font-size: .9vmax;
    font-weight: 700;
    border: none;
    border-radius: 3px;
    padding: .3rem 1rem;
    margin-left: .5rem;
  }
  
  .button-default {
    background: #247BA0;
    color: #fff;
  }

  