@import url('https://fonts.googleapis.com/css?family=Pinyon+Script&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css?family=PT+Serif&display=swap');

.background{

   background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
  
}
.coffee{
    color: white; 
    text-align: center;
    margin-left:10%;
   
}
.justCoffee{
    margin-top: 100px;
    font-size: 3em;
    font-family: 'Pinyon Script', cursive;
}
.life{
    font-size: 4em;
    font-family: 'PT Serif', serif;
}

  button {
    font-size: .9rem;
    font-weight: 700;
    border: none;
    border-radius: 3px;
    padding: .3rem 1rem;
    margin-left: .5rem;
  }
  
  .button-default {
    background: #247BA0;
    color: #fff;
  }

  @media only screen and (max-width: 420px) {
    .justCoffee{
      margin-top: 70px;
    }
    .coffee{
  
 margin: 0 auto;    
  }
  }
