@import url('https://fonts.googleapis.com/css?family=Pinyon+Script&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css?family=PT+Serif&display=swap');

.background{
    background-image: url('../img/coffee.jpg');
   background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
  
}
.coffee{
    color: white; 
    text-align: center;
    margin-left: 60px;
}
.justCoffee{
    margin-top: 120px;
    font-size: 3em;
    font-family: 'Pinyon Script', cursive;
}
.life{
    font-size: 4em;
    font-family: 'PT Serif', serif;
}

.quote{
  margin-left: 250px;

}


  button {
    font-size: .9rem;
    font-weight: 700;
    border: none;
    border-radius: 3px;
    padding: .3rem 1rem;
    margin-left: .5rem;
  }
  
  .button-default {
    background: #247BA0;
    color: #fff;
  }
